{
  "plugins": [
      "react"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
      "no-set-state": "off",
      "no-unused-vars": "warn"
  }
}
